:root {
  min-height: 100vh;
  min-height: 100svh;
  min-width: 100vw;
  min-width: 100svw;
  --light-color: #fef8fc;
  --dark-color: #090107;
}

body {
  margin: 0;
}

h2 {
  font-size: 3rem;
}

.picture-item {
  width: 45%;
  height: auto;
  border: solid 3px var(--dark-color);
  border-radius: 25px;
  margin: 2.5rem 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border: solid;
}

#mood_btn {
  background-color: green;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

footer {
  color: var(--light-color);
  background-color: var(--dark-color);
  margin-top: 2rem;
}

footer p {
  max-width: 75%;
  padding: 2rem 0;
  margin: 0 auto;
}